AdventureWorks.Web/Connected Services/AW.BasketService/BasketService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BasketService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/BasketService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/BasketService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/BasketService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AdventureWorks.BL.Infrastructure" />
      <xsd:import schemaLocation="http://localhost:8080/BasketService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AdventureWorks.DTO.Models.BL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBasketService_AddProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProduct" />
  </wsdl:message>
  <wsdl:message name="IBasketService_AddProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductResponse" />
  </wsdl:message>
  <wsdl:message name="IBasketService_RemoveProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveProduct" />
  </wsdl:message>
  <wsdl:message name="IBasketService_RemoveProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveProductResponse" />
  </wsdl:message>
  <wsdl:message name="IBasketService_ClearBasket_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearBasket" />
  </wsdl:message>
  <wsdl:message name="IBasketService_ClearBasket_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearBasketResponse" />
  </wsdl:message>
  <wsdl:message name="IBasketService_GetBasketItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBasketItems" />
  </wsdl:message>
  <wsdl:message name="IBasketService_GetBasketItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBasketItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IBasketService_GenerateBasketId_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateBasketId" />
  </wsdl:message>
  <wsdl:message name="IBasketService_GenerateBasketId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateBasketIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IBasketService">
    <wsdl:operation name="AddProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasketService/AddProduct" message="tns:IBasketService_AddProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasketService/AddProductResponse" message="tns:IBasketService_AddProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasketService/RemoveProduct" message="tns:IBasketService_RemoveProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasketService/RemoveProductResponse" message="tns:IBasketService_RemoveProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearBasket">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasketService/ClearBasket" message="tns:IBasketService_ClearBasket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasketService/ClearBasketResponse" message="tns:IBasketService_ClearBasket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBasketItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasketService/GetBasketItems" message="tns:IBasketService_GetBasketItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasketService/GetBasketItemsResponse" message="tns:IBasketService_GetBasketItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateBasketId">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasketService/GenerateBasketId" message="tns:IBasketService_GenerateBasketId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasketService/GenerateBasketIdResponse" message="tns:IBasketService_GenerateBasketId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBasketService" type="tns:IBasketService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddProduct">
      <soap:operation soapAction="http://tempuri.org/IBasketService/AddProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveProduct">
      <soap:operation soapAction="http://tempuri.org/IBasketService/RemoveProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearBasket">
      <soap:operation soapAction="http://tempuri.org/IBasketService/ClearBasket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBasketItems">
      <soap:operation soapAction="http://tempuri.org/IBasketService/GetBasketItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateBasketId">
      <soap:operation soapAction="http://tempuri.org/IBasketService/GenerateBasketId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BasketService">
    <wsdl:port name="BasicHttpBinding_IBasketService" binding="tns:BasicHttpBinding_IBasketService">
      <soap:address location="http://localhost:8080/BasketService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>