AdventureWorks.Web/Connected Services/AW.BasketService/BasketService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AdventureWorks.BL.Infrastructure" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AdventureWorks.BL.Infrastructure" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OperationDetails">
    <xs:sequence>
      <xs:element name="_x003C_Action_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Message_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Status_x003E_k__BackingField" type="tns:OperationDetails.Statuses" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationDetails" nillable="true" type="tns:OperationDetails" />
  <xs:simpleType name="OperationDetails.Statuses">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="Error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OperationDetails.Statuses" nillable="true" type="tns:OperationDetails.Statuses" />
</xs:schema>